:root {
  color-scheme: dark light;
  --background-color: rgba(65, 123, 90, 0.5);
  --body-color: rgba(24, 49, 79, 1);
  --text-color: rgba(237, 235, 215, 1);
  --link-color: lab(90.7% -7.16 73.91);
  --border-color: lab(90.7% -7.16 73.91);
  --highlight-color: rgba(24, 49, 79, 1);
  --aside: rgba(24, 49, 79, 0.5);
  /* Colors */
  --background-card: rgba(24, 49, 79, 0.5);
  --green: rgba(65, 123, 90, 1);
  --pink: rgba(219, 50, 77, 1);
  --yellow: lab(90.7% -7.16 73.91);
  --black: rgba(0, 0, 0, 0);
  --blue: rgba(24, 49, 79, 1);
  /* Font Size */
  /* Source: https://utopia.fyi/ 
     I've used this site for a couple of projects and find that their calculations are usually spot on with minimal number of adjustments needed. 
     I considered using bootstrap for responsive text sizes, but I prefer having more control as font size can often get complicated across different view ports*/
  --font-base: clamp(1.25rem, 1.2065rem + 0.2174vw, 1.375rem);
  --font-100: clamp(1.5rem, 1.4239rem + 0.3804vw, 1.7188rem);
  --font-200: clamp(1.8rem, 1.6788rem + 0.606vw, 2.1484rem);
  --font-300: clamp(2.16rem, 1.9772rem + 0.914vw, 2.6855rem);
  --font-400: clamp(2.592rem, 2.3259rem + 1.3303vw, 3.3569rem);
  --font-500: clamp(3.1104rem, 2.7327rem + 1.8883vw, 4.1962rem);
  --font-600: clamp(5.1104rem, 2.7327rem + 1.8883vw, 6.1962rem);

  /* Font Weight */
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  --weight-900: 900;

  --font-family: "Merienda", cursive;
}

/* User Preference Light Mode */
:root.light {
  --text-color: rgba(65, 123, 90, 1);
  --background-color: rgba(237, 235, 215, 1);
  --link-color: rgba(24, 49, 79, 1);
  --border-color: rgba(219, 50, 77, 1);
  --aside: rgb(255, 229, 76, 0.2);
}

/* Both fonts were sourced from google fonts. However, I stumbled across the dyslexia friendly font in this article:  https://reciteme.com/us/news/dyslexia-friendly-fonts/ */
:root.font {
  --font-family: "Lexend", sans-serif;
}

/* RESET */

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

p {
  max-width: 50ch;
  text-wrap: pretty;
}

body {
  overflow-x: hidden;
}

/* TYPE */

body {
  --letter-space: 0.12rem;
  --word-spacing: 0.16rem;
  --line-height: 1.5;

  font-size: 20px;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: var(--weight-400);

  letter-spacing: var(--letter-space);
  word-spacing: var(--word-spacing);
  line-height: var(--line-height);
}

h1 {
  font-size: var(--font-600);
  font-weight: var(--weight-700);
}

h1 span {
  font-size: var(--font-200);
  font-weight: var(--weight-700);
}

h2 {
  font-size: var(--font-300);
  font-weight: var(--weight-600);
}

h3 {
  font-size: var(--font-100);
  font-weight: var(--weight-400);
}

p,
a {
  font-size: var(--font-base);
  font-weight: var(--weight-400);
}

button {
  font-size: var(--font-100);
  font-weight: var(--font-500);
}

/* Accessability */

.visually-hidden {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.dyslexic-mode {
  --d-letter-spacing: 0.35ch;
  --d-word-spacing: 1.225ch;
  --d-line-height: 2;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: var(--d-letter-spacing);
  word-spacing: var(--d-word-spacing);
  font-variant-ligatures: none;
  line-height: var(--d-line-height);
}

/* Buttons and Links */

.select-button {
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.select-button::after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.select-button:hover:after {
  top: 0px;
  left: 0px;
}

.link-background {
  -webkit-box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: inherit;
  border-radius: 5px;

  letter-spacing: 0.04em;

  color: var(--link-color);
}

.link-background:focus:before,
.link-background:hover:before {
  opacity: 0.3;
}

.link-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.3em;
  background-color: var(--pink);
  opacity: 0.5;
  transition: opacity 300ms, transform 300ms, background-color 300ms;
  width: 100%;
  left: 0;
}

.link-background:hover,
.link-background:focus {
  color: var(--link-color);
}

/* .link-background:hover {
  background-color: var(--highlight-color);
} */

.link-background:focus {
  background-color: var(--pink);
}

.link-background:hover::after,
.link-background:focus::after {
  opacity: 1;
  transform: translate3d(0em, 0.1em, 0em);
}

.select-button:focus-visible {
  background-color: var(--pink);
}

.select-button:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
  background-color: var(--pink);
}

.toggle {
  border: 0.5px solid rgba(117, 117, 117, 0.31);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2),
    0 -3px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--pink) !important;
  width: 4em !important;
  height: 2em;
}

.toggle:checked {
  background-color: var(--blue) !important;
}

.toggle-wrapper {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0;
}

/* Utility */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.col-center {
  flex-direction: column-reverse;
  align-items: center;
}

.background-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Site-Wide */

/* Dark appearance*/
body {
  background-color: var(--body-color);
  color: var(--text-color);
  min-height: 100svh;
}

.primary-footer {
  margin: 2rem;
}

body:has(.primary-card-wrapper) {
  justify-content: center;
  align-items: center;
}

.primary-card-wrapper {
  width: 80vw;

  margin-block: 2rem;

  padding: 1rem;

  overflow: hidden;
  position: relative;
  transition: all 300ms;

  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0.9rem;
  background-color: var(--background-color);
  backdrop-filter: blur(10px);
}

.primary-card-wrapper:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.primary-header {
  --header-gap: 2rem;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: var(--header-gap);
  /* padding-top: 2rem; */
  min-height: 100vh;
  margin-inline: 2rem;
}

.card-content h2 {
  /* color: var(--yellow); */
  color: var(--text-color);
}

.primary-image {
  background-image: url("creeper-letter.png");
  width: 30%;
  min-height: 60vh;
  order: 3;
  flex-grow: 5;

  transform: translate(0, -1.5rem);
  transition: transform 500ms ease-in-out;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}

.primary-image:hover {
  transform: rotate(-20deg) scale(1.05);
}

.primary-card-wrapper main {
  --card-gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;

  gap: var(--card-gap);
}

.card-content {
  --content-gap: 2rem;
  gap: var(--content-gap);
  flex-direction: column;
  align-content: space-between;
  order: 2;
}

.primary-card-wrapper aside {
  order: 1;

  margin-right: 2rem;
  outline: 3px ridge var(--border-color);
  text-align: center;
  padding: 1rem;
  width: fit-content;
  z-index: 2000;
  background-color: var(--aside);
}

.primary-nav .nav-list {
  --nav-gap: 2rem;
  flex-direction: column;

  gap: var(--nav-gap);
  padding: 0 !important;
}

.accessability-list {
  --label-gap: 1rem;
  flex-direction: column-reverse;
  margin: 0;
  justify-content: flex-start;
  gap: var(--label-gap);
  padding: 0;
  padding-top: 2rem;
}

/* Hover & Animation */

.grid-wrapper {
  --card-width: 40vw;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  gap: var(--grid-gap), 2rem;
  padding: 0 !important;
}

.grid-card {
  border-radius: 1.5rem;
  height: fit-content;

  aspect-ratio: 16 / 16;
  box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.3);
  transform: rotateX(2deg);

  transition: all 1s ease-in-out;

  flex-direction: column-reverse;
  justify-content: center;
  padding: 1rem;
  border: 2px ridge var(--yellow);
  background-color: black;
}

.grid-card-image {
  width: 100%;
  height: 100%;

  top: 0;
}

.pixel-rain {
  background-size: cover;
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjA3NjNucnB0bDQzcXJyYmM5Zmpvam8wNW4wMGJyY3hvZjM5bGlpNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lSzQjkthGS1gc/giphy.gif");
}

.still-rain {
  position: relative;
  background-size: cover;
  background-image: url("https://img.freepik.com/premium-photo/fox-sits-rock-umbrella-rain_783884-35330.jpg");
}

.still-rain::before {
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://media.geeksforgeeks.org/wp-content/uploads/20200828184719/rain-300x300.png");
}

.still-rain:hover {
  background-image: none;
}

.card-wrapper {
  display: grid;
  place-content: center;
  inset: 0;
  transform-style: preserve-3d;
  perspective: 800px;
  padding: 2rem;
}

.grid-card:hover {
  transform: rotateX(-10deg);
}

.card-wrapper:has(.grid-card:hover) {
  z-index: 10;
}

.face-content {
  height: 0;
  opacity: 0;
  padding: 2rem;
  width: 100%;

  background-color: var(--blue);
  border-radius: 15px;
}

path {
  stroke: var(--pink);
}

.hover-content .grid-card:hover .face-content {
  height: fit-content;
  opacity: 1;
}
.hover-content .grid-card:hover .grid-card-image,
.show-content .grid-card-image {
  display: none;
}

.face-content-click {
  background-color: var(--blue);
  height: fit-content;
  opacity: 1;
}

.description-text-content {
  padding-inline: 2rem;
}
input[type="number"] {
  width: 80px;
  background-color: var(--green);
  color: var(--text-color);
  font-size: var(--font-200);
  margin: 1rem;
}

::placeholder {
  color: var(--yellow);
  opacity: 1;
}

.counter-wrapper {
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.description-text-content h2 {
  padding-block: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* Filters */

.filter-list {
  display: flex;
  flex-direction: row;
}

.filter-card {
  width: 5vw;
  height: 60vh;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
  cursor: pointer;

  transition: width 0.5s ease-in-out;
}

.filter-card:hover {
  transform: translateY(-10px);
}

.filter-container {
  padding-top: 4rem;
  width: 80vw;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

#grayscale-example {
  filter: grayscale(1);
}

#invert-example {
  filter: invert(var(--value, 100%));
}

#contrast-example {
  filter: contrast(var(--value, 5));
  --value: 4;
}

#blur-example {
  filter: blur(var(--value, 1rem));
  --value: 4px;
}

.filter-adjust-list {
  padding: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  gap: 20px;
}

.filter-card-wrapper {
  background-color: var(--yellow);
  color: var(--blue);
  font-weight: bold;
  padding: 1rem;
}

.filter-card-wrapper figcaption {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

/* Drag & Drop  */

.note-container {
  background-size: 4em 4em;

  overflow: hidden;
  color: var(--blue);
}

.note-card {
  width: 15rem;
  height: 10rem;
  background-color: var(--pink);
  overflow: auto;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  /* user-select: none; */
  text-align: center;
  resize: both;
  right: 3rem;
  top: 5rem;

  border-top: 1rem ridge var(--green);
}

.note-card p {
  user-select: none;
}

.note-yellow {
  background-color: var(--yellow);
}

.pushpin {
  width: 20%;
  margin: 0 auto;
  user-select: none;
}

.note-input {
  background-color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem 0;
}

/* Trigger animation only if no preference on motion stated */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }

  .mask-animation {
    animation: maskMove 5s ease-out reverse;
  }
}

/* User prefers light appearance */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgba(65, 123, 90, 1);
    --background-color: rgba(237, 235, 215, 1);
    --link-color: rgba(24, 49, 79, 1);
    --border-color: rgba(219, 50, 77, 1);
  }
}

@media screen and (max-width: 60em) {
  .primary-card-wrapper {
    margin-block: 2rem;
  }

  .primary-header h1 {
    margin-left: 0;
  }

  .primary-card-wrapper main {
    --card-gap: 2rem;
    flex-direction: column;
  }

  .primary-card-wrapper aside {
    order: 2;
    margin-right: 0;
  }

  .card-content {
    order: 1;
  }

  .primary-image {
    order: 3;
    min-height: 30vh;
    width: 100%;
  }

  .toggle-wrapper {
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .toggle {
    width: 5em !important;
  }
}

@media screen and (min-width: 40em) {
  .primary-card-wrapper aside {
    width: 100%;
  }

  .toggle-wrapper {
    flex-direction: row;
    justify-content: space-evenly;

    align-items: center;
    gap: 2rem;
  }

  .link-background {
    padding: 0.5rem 1rem;
  }

  /* Animation for home page */
  .mask-animation {
    width: 8vmin;
    height: 75vmin;
    background-color: var(--text-color);
    transform: rotateZ(-90deg);
    transform-origin: left top;
    position: absolute;
    border-radius: 10px;
    opacity: 0.9;

    mix-blend-mode: exclusion;
  }

  @keyframes maskMove {
    0% {
      height: 65vmin;
    }
    100% {
      height: 0;
    }
  }

  .primary-header h1 {
    padding-bottom: 2rem;
  }

  .primary-header {
    --header-gap: 2rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--header-gap);
    padding-top: 2rem;
    min-height: fit-content;
    padding-left: 2rem;
  }

  .filter-card:hover {
    width: 25vw;
  }

  .description-text-content {
    padding: 4rem;
  }

  .description-text-content h2 {
    padding-block: 1rem;
    text-align: start;
  }

  .counter-wrapper {
    padding: 2rem;
  }
}

/* 1250px */
@media screen and (min-width: 60em) and (max-width: 100em) {
  .primary-card-wrapper aside {
    width: 45vw;
  }

  header .primary-image {
    position: absolute;
    top: 35vh;
    right: 0;
    min-height: 20vh;
  }

  .primary-card-wrapper aside {
    width: 40vw;
  }

  .toggle-wrapper {
    justify-content: space-between;
  }

  .toggle {
    width: 3.5em !important;
  }

  /* .grid-card {
    aspect-ratio: 9 / 16;
  } */
  .primary-nav .nav-list {
    flex-direction: row;
  }
  .filter-container {
    width: 60vw;
  }
  .hover-toggle label {
    padding-inline: 4rem;
  }
  .hover-toggle {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 80em) {
  .primary-card-wrapper main {
    min-height: 60vh;
  }

  .primary-card-wrapper aside {
    width: fit-content;
    height: 100%;
  }

  .toggle-wrapper {
    justify-content: space-between;
  }

  /* .grid-card {
    aspect-ratio: 16 / 16;
  } */

  .primary-header h1 {
    padding-top: 2rem;

    padding-bottom: 0;
  }
  .primary-nav .nav-list {
    flex-direction: row;
  }

  br {
    display: none;
  }

  .primary-header h1 {
    margin-left: 2rem;
  }
  .filter-container {
    width: 60vw;
  }

  .header-image {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .note-card {
    right: 30rem;
    bottom: 5rem;
  }
  .hover-toggle label {
    padding-inline: 4rem;
  }
  .hover-toggle {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 100em) {
  .primary-image:hover {
    transform: translate(-1.5rem, -7rem) rotate(-20deg) scale(1.2);
  }
}
